header{
    background-color: #FFF;
    height: 100px;

    div.wrapper{
        height: 100%;

        div.header__container{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;

            div.header__title{
                margin-bottom: 10px;

                a{
                    text-transform: lowercase;
                    color: #000;
                    text-decoration: none;
                    margin: 0px 5px;
                    font-weight: bold;
                    opacity: .7;
                    font-size: 1.5em;
                    letter-spacing: 2px;
                }
            }

            nav.header__nav{
            margin-bottom: 20px;

                a{
                    text-transform: lowercase;
                    color: #000;
                    text-decoration: none;
                    margin: 0px 5px;
                    font-weight: bold;
                    opacity: .3;

                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }
    }
}