html, body{
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 100%;
    max-width: 1300px;
    padding: 0px 10px;
    margin: 0 auto;
    box-sizing: border-box;
}
